.TheaterInfo {
	border: 1px solid orange;
	border-radius: 5px;
	display: flex;
	flex-direction: column;

	.body-info {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		.left {
			width: 25%;
			padding: 10px;
			.movie-img {
				height: 160px;
				border-radius: 5px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.show-time {
				text-align: center;

				p {
					margin: 0;
					font-weight: 500;
				}
				h3 {
					color: gray;
				}
			}
		}
		.right {
			width: 75%;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: 5px 10px;

			.schedule-content {
				border: 1px solid orange;
				padding: 8px;
				margin-right: 8px;
				margin-top: 8px;
				border-radius: 8px;
				.price {
					text-align: center;
					background-color: #eccc68;
					padding: 2px 0;
					border-radius: 8px;
					font-size: 13px;
					font-weight: 500;
					color: white;
				}
			}
		}
	}

	.bottom-info {
		padding: 10px;
		display: flex;
		.logo {
			width: 15%;
			height: 60px;
			border-radius: 10px;
			border: 1px solid gray;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.address {
			width: 85%;
			margin-left: 20px;
			div {
				font-size: 16px;
				font-weight: bold;
				color: black;
			}
			.info {
				font-size: 14px;
				font-weight: 500;
				color: gray;
				margin: 0;
			}
			.link-google {
				display: inline-block;
				cursor: pointer;
				color: #3742fa;
				&:hover {
					border-bottom: 1px solid blue;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.TheaterInfo {
		.body-info {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.left {
				width: 50%;
			}
			.right {
				justify-content: center;
			}
		}
	}
}
